body{
    padding-top: 15px;
    background-color: null;
}

.wrapper{
    width: 1024px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}

nav{
    text-align: center;
    background-color: saddlebrown;
}

nav ul{
    display: inline-block;
}

nav ul li{
    list-style-type: none;
    float: left;
}

nav ul li a{
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: block;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul li a:hover{
    background-color: lemonchiffon;
    color: peru;
}

.content_in {
    background-color: burlywood;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 5px;
}

.content_in h1{
    text-align: center;
}

.content_in a{
    display: block;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    height: 40px;
    background-color: peru;
    line-height: 40px;
    color: moccasin;
}

.content_in a:hover{
    background-color: lightslategray;
    color: black;
}

.footer{
    text-align: center;
    background-color: darkgoldenrod;
    color: ivory;
    padding-top: 10px;
    padding-bottom: 10px;
}