.s05_h2_font01 {
    font-size: 50px;
    color: var(--mycolor23);
}

.s05_h2_fire {
    font-size: 40px;
    color: var(--mycolor36);
}

.s05_p_font01 {
    font-size: 20px;
    color: var(--mycolor23);
}