.s07_h2_news {
    font-size: 40px;
}

.timeline-section {
    position: relative;
}

.timeline-section::before {
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    width: 5px;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.01), var(--mycolor03));
    left: 50%;
    transform: translateX(-50%);
}

.timeline-pointer {
    content: "";
    position: relative;
}

.timeline-pointer::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--mycolor02);
    border: 5px solid var(--mycolor03);
}

.timeline-pointer:hover::before {
    width: 25px;
    height: 25px;
    border: 6px solid var(--mycolor05);
}